header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .title {
        color: var(--primary);
        line-height: 32.27px;
        font-weight: 700;
        font-size: 25.82px;
    }

    .clear {
        display: flex;
        align-items: center;
        cursor: pointer;

        .label {
            color: var(--primary);
            line-height: 17.5px;
            font-weight: 600;
            font-size: 14;
        }
        .reload {
            width: 17px;
            height: 18px;
        }
    }

    .clear>*+* {
        margin-left: 6px;
    }
}