.task {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
        cursor: pointer;
    }

    .start {
        display: flex;
        align-items: center;

        &>*+* {
            margin-left: 10px;
        }

        .label {
            font-weight: 400;
            font-size: 14px;
            line-height: 17.5px;
            color: var(--dark);
            outline: none;

            &.checked {
                text-decoration-line: line-through;
            }
        }

    }

    .end {
        display: flex;
        align-items: center;

        &>*+* {
            margin-left: 10.34px;
        }

        .icon{
            width: 25px;
            height: 26px;
        }
    }

}