/* You can add global styles to this file, and also import other style files */

// include app color
@import './styles/_colors.scss';

@font-face {
    font-family: Quicksand;
    src: url(assets/fonts/Quicksand/static/Quicksand-Medium.ttf) format('truetype'),
    url(assets/fonts/Quicksand/static/Quicksand-Light.ttf) format('truetype'),
    url(assets/fonts/Quicksand/static/Quicksand-Bold.ttf) format('truetype'),
    url(assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf) format('truetype'),
    url(assets/fonts/Quicksand/static/Quicksand-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: Quicksand, 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--bg-card);
    display: flex;
    align-items: center;
    justify-content: center;
}

:host {
    dialog::backdrop {
        background: rgba(0,0,0,0.6);
        backdrop-filter: blur(3px);
    }
}
