<div class="task-list">
    @if(todos$ | withLoading | async; as obs) {
        @if(obs.data) {
            @for (todo of obs.data; track todo) {
                <app-task [todo]="todo" (onDelete)="deleteTodo($event)"/>
            } @empty {
                empty list
            }

        } @else if(obs.loading) {
            loading ...
        } @else if(obs.error) {
            error ...
        }
    }
</div>

<app-confirm-dialog [hidden]="hideDialog" (handleDelete)="handleDelete($event)" #dialog/>
